*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;

}

.gokcencoktatli{
    text-align: center;
}

h1{
    font-size: 2em;
    color: #333;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px 0;
}

.cell{
    width: 100px;
    height: 100px;
    color: #333;
    display: flex;
justify-content: center;
align-items: center;
font-size: 2.5em;
background-color: #fff ;
border: 1px solid #050505;
cursor: pointer;
transition: background 0.5s;
}


.cell:hover{
    background-color: #dddddd;

}
button{
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background: #646464;
    color: #fff;
    border-radius: 15px;
}


.mizu{
    font-size: 1.2em;
    color: #333;
    margin-top: 20px;

}
